@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: 'Inter', sans-serif;
    @apply antialiased text-slate-800 bg-slate-50;
  }
}

html,
body,
#root {
  height: 100%;
}